{# {% extends 'base2.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<!doctype html>
		<html lang="en">
			<head>

				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

				<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

				<style>{% include "css/style2.css" %}</style>

			</head>
			<body class="img js-fullheight" style="background-image: url(https://i.imgur.com/0cmXfWy.jpg);">
				<section class="ftco-section">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center mb-5">
								<h2 class="heading-section">Login</h2>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-6 col-lg-4">
								<div class="login-wrap p-0">
									<h3 class="mb-4 text-center">Have an account?</h3>
									<form action="#" class="signin-form">
										<div class="form-group">
											<label for="inputUsername">Username</label>
											<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
										</div>
										<div class="form-group">
											<label for="inputPassword">Password</label>
											<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
											
										</div>
                                        	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										<div class="form-group">
											<button type="submit" class="form-control btn btn-primary submit px-3">Log In</button>
										</div>
										
											
										</div>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<script>
				<script>
        
				</script>

				<script src="../../vendor/js/jquery.min.js"></script>
				<script src="../../vendor/js/popper2.js"></script>
				<script src="../../vendor/js/bootstrap2.min.js"></script>
				<script src="../../vendor/js/main2.js"></script>

			</body>
		</html>


		

		
	</form>
{% endblock %}
