{% block body %}
<style>
{% include 'pdf/style.css' %}
</style>
<body>
<div class="example-wrapper">
<h1>Facture</h1>
<main>
  <h1  class="clearfix"><small><span>DATE</span><br />{{ creationDate}}</small>FACTURE {{ id }}</h1>
  <table>
    <thead>
      <tr>
        <th class="service">SERVICE</th>
        <th class="desc">DESCRIPTION</th>
        <th>PRIX</th>
        <th>QTY</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <!-- you can add a loop here -->
      <tr>
        <td class="service">{{ nomService }}</td>
        <td class="desc">{{ nomService }} * {{ qty }} </td>
        <td class="unit">{{ pu }}</td>
        <td class="qty">{{ qty }}</td>
        <td class="total">{{ pu * qty }}</td>
      </tr>
      <tr>
        <td colspan="4" class="sub">SUBTOTAL</td>
        <td class="sub total">{{ pu * qty }}</td>
      </tr>
      <tr>
        <td colspan="4">TAX 18%</td>
        <td class="total">{{ (pu * qty) * 0.18 }}</td>
      </tr>
      <tr>
        <td colspan="4" class="grand total">GRAND TOTAL</td>
        <td class="grand total">{{ (pu * qty) * 1.18 }}</td>
      </tr>
    </tbody>
  </table>
  <div id="details" class="clearfix">
    <div id="project">
      <div class="arrow"><div class="inner-arrow"><span>Service</span> {{ nomService }}</div></div>
      <div class="arrow"><div class="inner-arrow"><span>CLIENT</span> {{ nomClient}}</div></div>
      <div class="arrow"><div class="inner-arrow"><span>EMAIL</span> <a href="mailto:{{emailClient}}">{{emailClient}}</a></div></div>
    </div>
    <div id="company">
      <div class="arrow back"><div class="inner-arrow">VSP <span>COMPANY</span></div></div>
      <div class="arrow back"><div class="inner-arrow">455 Foggy Heights, AZ 85004, US <span>ADDRESS</span></div></div>
      <div class="arrow back"><div class="inner-arrow">(602) 519-0450 <span>PHONE</span></div></div>
      <div class="arrow back"><div class="inner-arrow"><a href="mailto:mailert63@gmail.com">mailert63@gmail.com</a> <span>EMAIL</span></div></div>
    </div>
  </div>
</main>
<footer>
La facture a été créée sur un ordinateur et est valable sans la signature et le sceau.
</footer>
</div>
</body>
{% endblock %}
